*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../imgs/Add\ a\ heading.png");
}
.form-register{
    width: 400px;
    background: #d3d6d8;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color: white;
    box-shadow: 7px 13px 37px #000;

}
.form-register h4{
    color: #062b0f;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
}
.controls{
    width: 100%;
    background: #d5d5d5;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #747b89;
    font-family: "calibri";
    font-size: 18px;
    color: #062b0f;
    text-align: center;
}

.form-register .botons {
    width: 100%;
    background: #073613;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 4px;
}
.form-register .botons:hover{
    background: #676e7b;
}

#errorBox{
    color: black !important; 
}